---
---

$c0: #0c193e;
$c1: #1f3f9d;
$c2: #396aff;
$c3: #8ba8ff;
$c4: #d8e2ff;

@font-face {
	font-family: 'DoulosSILW';
	src: url('../fonts/DoulosSIL-R.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

* {
	box-sizing: border-box;
}

body {
	background: $c0;
	color: $c3;
	font-family: DoulosSILW;
	font-size: 16px;
	width: 100%;
	min-height: 100%;
	margin: 0;
}

section {
	width: 100%;
	max-width: 960px;
	height: calc(100% - 32px);
	border-left: solid 1px $c4;
	border-right: solid 1px $c4;
	padding: 16px;
	background: $c1;
}

section b, section table th {
	color: $c4;
	margin: 0 auto;
}

header {
	height: 16px;
	background: $c2;
	color: $c0;
}
header nav a {
	color: $c0;
	text-decoration: none;
	line-height: 16px;
}

footer {
	height: 16px;
	background: $c2;
	color: $c0;
}

table {
	border-collapse: collapse;
}
table th, table td {
	border: solid 1px $c3;
	text-align: center;
}
